<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h4 class="fw-bolder" style="text-align: center">1. SQL 삽입</h4>
    <p style="text-align: center">제1절 입력데이터 검증 및 표현</p>
    <br />
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <!-- Vulnerable code -->
        <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Vulnerable</h4>
            <hr />
            <form action="#" method="get">
                <div class="wrapper" style="width: 100%">
                    <div class="tabs">
                        <div class="tab">
                            <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                            <label for="tab-1" class="tab-label">BoardController.java</label>
                            <div class="tab-content">
                                <code class="code-area" style="height: 15em"><textarea wrap="off" disabled class="area" style="height: 15em">@Controller
@RequiredArgsConstructor
public class BoardController {

    private final BoardService boardService;

    /* 게시글 목록 */
    @GetMapping(value = {"/board/vuln"})
    public String BoardListForm_vuln(Model model,
                                    @RequestParam(value = "keyword", required = false) String keyword,
                                    @RequestParam(value = "page", required = false) Integer page) {

        BoardSearch boardSearch = new BoardSearch();

        if (page == null) {
            page = 1;
        }

        if (keyword != null) {
            page = 1;
            boardSearch.setSubject(keyword);
        }

        boardSearch.setPage(page);

        List<Board> boards = boardService.findAll_vuln(boardSearch);
        int size = boardService.findAll().size();

        model.addAttribute("boards", boards);
        model.addAttribute("page", boardSearch.getPage());
        model.addAttribute("size", size);

        return "/1/1.1";
}</textarea></code>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                            <label for="tab-2" class="tab-label">BoardService.java</label>
                            <div class="tab-content">
                                <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@Service
@RequiredArgsConstructor
@Transactional(readOnly = true)
public class BoardService {

    private final BoardsRepository boardsRepository;

    public List<Board> findAll_vuln(BoardSearch boardSearch) {
        return boardsRepository.findAll_vuln(boardSearch);

    ....
}</textarea></code>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                            <label for="tab-3" class="tab-label">BoardsRepository.java</label>
                            <div class="tab-content">
                                <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@Repository
@RequiredArgsConstructor
public class BoardsRepository {

    private final EntityManager entityManager;

    public List<Board> findAll_vuln(BoardSearch boardSearch) {

        String query;
        if (boardSearch.isSubjectNull()) {
            query = "SELECT * FROM BOARD ORDER BY BOARD_ID DESC";
        } else {
            query = "SELECT * FROM BOARD WHERE SUBJECT LIKE '%" + boardSearch.getSubject() + "%'" + "ORDER BY BOARD_ID DESC";
        }

        List<Board> boards = entityManager.createNativeQuery(query, Board.class).setFirstResult((boardSearch.getPage()-1) * 10).setMaxResults(10).getResultList();

        return boards;
    }
}</textarea></code>
                            </div>
                        </div>
                    </div>
                </div>
            <br />
           <hr />
          </form>
      </div>
        <!-- Secure Code -->
        <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Secure</h4>
          <hr />
          <form action="#" method="get">
              <div class="wrapper" style="width: 100%">
                  <div class="tabs">
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-4" checked class="tab-switch">
                          <label for="tab-4" class="tab-label">CommandController.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@GetMapping(value = {"/board/secure"})
public String BoardListForm_secure(Model model,
                                  @RequestParam(value = "keyword", required = false) String keyword,
                                  @PageableDefault(sort = "id", direction = Sort.Direction.DESC) Pageable pageable) {

    Page<Board> boardlist = boardService.pageList(pageable);

    int nowPage = boardlist.getPageable().getPageNumber() + 1;
    int startPage = Math.max(nowPage - 4, 1);
    int endPage = Math.min(nowPage + 5, boardlist.getTotalPages());

    if (keyword == null) {
        model.addAttribute("boards", boardService.pageList(pageable));
        model.addAttribute("nowPage", nowPage);
        model.addAttribute("startPage", startPage);
        model.addAttribute("endPage", endPage);
    } else {
        model.addAttribute("boards", boardService.searchList(keyword, pageable));
    }

    return "/1/1.1";
}</textarea></code>
                          </div>
                      </div>
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-5" class="tab-switch">
                          <label for="tab-5" class="tab-label">BoardService.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@Service
@RequiredArgsConstructor
@Transactional(readOnly = true)
public class BoardService {

    private final BoardRepository boardRepository;

    ....

    /* 게시판 제목 검색 기능 */
    @Transactional
    public Page<Board> searchList(String keyword, Pageable pageable) {
        return boardRepository.findBySubjectContaining(keyword, pageable);
    }

    ....
}</textarea></code>
                          </div>
                      </div>
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-6" class="tab-switch">
                          <label for="tab-6" class="tab-label">BoardRepository.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">Repository
public interface BoardRepository extends JpaRepository<Board, Long> {

    /* 게시판 제목 검색 기능 */
    Page<Board> findBySubjectContaining(@RequestParam("keyword") String keyword, Pageable pageable);

}</textarea></code>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <br />
          <hr />
      </div>
    </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn" style="margin-left: 55%; background-color: #ffe74a" th:href="@{/board}">실습 하기</a></div>
      </div>
  </div>
</section>
<br />
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
