<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<!-- Header-->
<head th:replace="fragments/header :: header"></head>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h4 class="fw-bolder" style="text-align: center">7. 신뢰되지 않는 URL 주소로 자동접속 연결</h4>
    <p style="text-align: center">제1절 보안기능</p>
    <br />
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Vulnerable</h4>
        <hr />
          <form action="#" method="get">
            <br />
            <div class="card h-100">
              <!-- Vulnerable code -->
<!--                <pre class="line-numbers" style="height: 30%;">-->
                <code class="code-area" style="height: 15em"><textarea readonly wrap="off" class="area" style="height: 15em">@PostMapping("/1/7/vuln")
public String URLConnected_vuln(HttpServletRequest request, HttpServletResponse response, Model model) throws IOException {

        String url = request.getParameter("url");

        if (url == null) {
            return "/1/1.7";
        } else {
            response.sendRedirect("http://" + url);
        }

        return "/1/1.7";
    }
              </textarea>
                </code>
<!--                </pre>-->
            </div>
          </form>
          <br />
          <hr />
      </div>
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Secure</h4>
        <hr />
          <form action="#" method="get">
            <br />
            <div class="card h-100">
              <!-- Secure Code -->
                <code class="code-area" style="height: 15em"><textarea readonly wrap="off" class="area" style="height: 15em">@PostMapping("/1/7/secure")
public String URLConnected_secure(HttpServletRequest request, HttpServletResponse response, Model model) throws IOException {

        String[] allowedUrl = {"/", "/1/vuln5"};

        String url2 = request.getParameter("url2");

        if (url2 == null) {
            return "/1/1.7";
        }
        try {
            url2 = allowedUrl[Integer.parseInt(url2)];
            response.sendRedirect(url2);
        } catch (NumberFormatException | ArrayIndexOutOfBoundsException e) {
            model.addAttribute("message", "잘못된 접근입니다.");
            model.addAttribute("searchUrl", "/1/7");

            return "message";
        }

        return "/1/1.7";
    }
                </textarea>
                </code>
            </div>
          </form>
          <br />
          <hr />
      </div>
    </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn" style="margin-left: 55%; background-color: #F5Df4D" th:href="@{/1/7}">실습 하기</a></div>
      </div>
  </div>
</section>
<br />
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
