<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<!-- Header-->
<head th:replace="fragments/header :: header"></head>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h4 class="fw-bolder" style="text-align: center">8. 부적절한 XML 외부 개체 참조</h4>
    <p style="text-align: center">제1절 입력데이터 검증 및 표현</p>
    <br />
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Vulnerable</h4>
        <hr />
          <form action="#" method="get">
              <div class="wrapper" style="width: 100%">
                  <div class="tabs">
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                          <label for="tab-1" class="tab-label">test.xml</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">&lt;?xml version="1.0" encoding="ISO-8859-1"?&gt;
<!DOCTYPE foo [<!ELEMENT foo ANY ><!ENTITY xxe SYSTEM "file:///etc/passwd" >]>
<foo>&amp;xxe;</foo></textarea></code>
                          </div>
                      </div>
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                          <label for="tab-2" class="tab-label">CommandController.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@PostMapping("/1/8/vuln")
public String XXEForm_vuln(HttpServletRequest request, HttpServletResponse response, Model model) throws IOException, SAXException, ParserConfigurationException {

    String filepath = request.getParameter("filepath");

    DocumentBuilderFactory documentBuilderFactory = DocumentBuilderFactory.newInstance();
    DocumentBuilder documentBuilder = documentBuilderFactory.newDocumentBuilder();

    // 외부개체 참조 제한 설정 없이 사용자가 요청한 xml 파일을 읽고 파싱하여 안전하지 않다.
    Document document = documentBuilder.parse(new File(filepath));

    Node node = document.getDocumentElement().getFirstChild();
    String result = node.getNodeValue();

    model.addAttribute("line", result);

    return "/1/1.8";
}</textarea></code>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <br />
          <hr />
      </div>
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Secure</h4>
        <hr />
          <form action="#" method="get">
              <div class="wrapper" style="width: 100%">
                  <div class="tabs">
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-3" checked class="tab-switch">
                          <label for="tab-3" class="tab-label">CommandController.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@PostMapping("/1/8/secure")
public String XXEForm_secure(HttpServletRequest request, Model model) throws IOException, SAXException, ParserConfigurationException {
    String filepath2 = request.getParameter("filepath2");

    DocumentBuilderFactory documentBuilderFactory = DocumentBuilderFactory.newInstance();

    // 외부 일반 엔티티를 포함하지 않도록 설정한다.
    documentBuilderFactory.setFeature("http://xml.org/sax/features/external-general-entities", false);
    // 외부 파라미터도 포함하지 않도록 설정한다.
    documentBuilderFactory.setFeature("http://xml.org/sax/features/external-parameter-entities", false);
    // 외부 DTD 비활성화한다.
    documentBuilderFactory.setFeature("http://apache.org/xml/features/nonvalidating/load-external-dtd", false);
    // XIncude를 사용하지 않는다.
    documentBuilderFactory.setXIncludeAware(false);
    // 생성된 파서가 엔티티 참조 노드를 확장하지 않도록 한다.
    documentBuilderFactory.setExpandEntityReferences(false);

    DocumentBuilder documentBuilder = documentBuilderFactory.newDocumentBuilder();
    Document document = documentBuilder.parse(new File(filepath2));

    Node node = document.getDocumentElement().getFirstChild();
    String result = node.getNodeValue();

    if (result == null) {
        throw new PermissionException("접근할 수 없습니다.");
    }

    model.addAttribute("line2", result);

    return "/1/1.8";
}</textarea></code>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <br />
          <hr />
      </div>
    </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn" style="margin-left: 55%; background-color: #ffe74a" th:href="@{/1/8}">실습 하기</a></div>
      </div>
  </div>
</section>
<br />
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
