<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<!-- Header-->
<head th:replace="fragments/header :: header"></head>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h4 class="fw-bolder" style="text-align: center">9. XML 삽입</h4>
    <p style="text-align: center">제1절 입력데이터 검증 및 표현</p>
    <br />
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Vulnerable</h4>
        <hr />
          <form action="#" method="get">
              <div class="wrapper" style="width: 100%">
                  <div class="tabs">
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                          <label for="tab-1" class="tab-label">CommandController.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@PostMapping("/1/9/vuln")
public String XPathForm_vuln(HttpServletRequest request, Model model) throws ParserConfigurationException, IOException, SAXException, XPathExpressionException {

    String word = request.getParameter("word");

    if(word == null) {
        return "/1/1.9";
    }

    DocumentBuilderFactory documentBuilderFactory = DocumentBuilderFactory.newInstance();
    DocumentBuilder documentBuilder = documentBuilderFactory.newDocumentBuilder();
    Document document = documentBuilder.parse(new File("./tmp/user.xml"));

    XPathFactory xPathFactory = XPathFactory.newInstance();
    XPath xPath = xPathFactory.newXPath();

    // XPath 삽입
    XPathExpression expr = xPath.compile("//user[@name='"+ word + "']");

    Object result = expr.evaluate(document, XPathConstants.NODESET);

    NodeList nodes = (NodeList)result;
    String values = "";

    String[] value = new String[nodes.getLength()];
    for (int i = 0; i < nodes.getLength(); i++) {

        value[i] = nodes.item(i).getTextContent();
        values += "\n" + value[i];

        model.addAttribute("value", values);

    }

    return "/1/1.9";
}</textarea></code>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <br />
          <hr />
      </div>
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Secure</h4>
        <hr />
          <form action="#" method="get">
              <div class="wrapper" style="width: 100%">
                  <div class="tabs">
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-2" checked class="tab-switch">
                          <label for="tab-2" class="tab-label">CommandController.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@PostMapping("/1/9/secure")
public String XPathForm_secure(HttpServletRequest request, Model model) throws XPathExpressionException, IOException, SAXException, ParserConfigurationException {

    String word2 = request.getParameter("word2");

    if(word2 == null) {
        return "/1/1.9";
    }

    if (!word2.matches("[\\w]*")) {
        model.addAttribute("message", "허용하지 않는 문자열입니다.");
        model.addAttribute("searchUrl", "/1/9");

        return "message";
    }

    DocumentBuilderFactory documentBuilderFactory = DocumentBuilderFactory.newInstance();
    DocumentBuilder documentBuilder = documentBuilderFactory.newDocumentBuilder();
    Document document = documentBuilder.parse(new File("./tmp/user.xml"));

    XPathFactory xPathFactory = XPathFactory.newInstance();
    XPath xPath = xPathFactory.newXPath();

    XPathExpression expr = xPath.compile("//user[@name='"+ word2 + "']");

    Object result = expr.evaluate(document, XPathConstants.NODESET);

    NodeList nodes = (NodeList)result;
    String values = "";

    String[] value = new String[nodes.getLength()];
    for (int i = 0; i < nodes.getLength(); i++) {

        value[i] = nodes.item(i).getTextContent();
        values += "\n" + value[i];

        model.addAttribute("value", values);

    }

    return "/1/1.9";
}</textarea></code>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <br />
          <hr />
      </div>
    </div>
      <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
          <div class="text-center"><a class="btn" style="margin-left: 55%; background-color: #ffe74a" th:href="@{/1/9}">실습 하기</a></div>
      </div>
  </div>
</section>
<br />
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
