<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<!-- Header-->
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h3 class="fw-bolder" style="text-align: center">15. 무결성 검사 없는 코드 다운로드</h3>
    <p style="text-align: center">제2절 보안기능</p>
    <br />
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Vulnerable</h4>
        <hr />
          <form action="#" method="get">
              <div class="wrapper" style="width: 100%">
                  <div class="tabs">
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                          <label for="tab-1" class="tab-label">AuthorityController.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@GetMapping("/download/infome.zip")
public ResponseEntity<Resource> downloadAttach() throws MalformedURLException {

    String filePath = "https://www.skshieldus.com/download/infome.zip";

    UrlResource resource = new UrlResource("file:" + filePath);

    String contentDisposition = "attachment;";

    return ResponseEntity.ok()
            .header(HttpHeaders.CONTENT_DISPOSITION, contentDisposition)
            .body(resource);

}</textarea></code>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <br />
          <hr />
      </div>
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Secure</h4>
        <hr />
          <form action="#" method="get">
              <div class="wrapper" style="width: 100%">
                  <div class="tabs">
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-2" checked class="tab-switch">
                          <label for="tab-2" class="tab-label">AuthorityController.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">@GetMapping("/download/infome.zip")
public ResponseEntity<Resource> downloadAttach() throws MalformedURLException  {

    String filePath = "http://www.skshieldus.com/download/infome.zip";

    MyHash hash = new MyHash(dir+filePath);
    String fileHash = hash.getHashString().toString();

    // 파일에 대한 무결성 검사
    if(fileHash.equals(hash.getHashString())) {

        UrlResource resource = new UrlResource("file:" + filePath);

        String contentDisposition = "attachment;";

        return ResponseEntity.ok()
                .header(HttpHeaders.CONTENT_DISPOSITION, contentDisposition)
                .body(resource);
    } else {
        throw new PermissionException("권한이 없습니다.");
    }
}</textarea></code>
                          </div>
                      </div>
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                          <label for="tab-3" class="tab-label">class MyHash</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">public static class MyHash {
    private byte[] bytes;

    public MyHash(String filePath) {
        checksum(filePath);
    }

    public String getHashString() {
        StringBuilder sb = new StringBuilder();
        for (byte b : this.bytes) {
            sb.append(String.format("%02x", b));
        }
        return sb.toString();
    }

    private void checksum(String filePath) {
        MessageDigest messageDigest;

        try {
            messageDigest = MessageDigest.getInstance("SHA3-256");
        } catch (NoSuchAlgorithmException e) {
            System.out.println("error");
        }

        try (InputStream is = new FileInputStream(filePath);
             DigestInputStream dis = new DigestInputStream(is, messageDigest)) {
            while (dis.read() != -1) ;
            messageDigest = dis.getMessageDigest();
        } catch (IOException e) {
            System.out.println("error");
        }
        this.bytes = messageDigest.digest();
    }
}</textarea></code>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <br />
          <hr />
      </div>
    </div>
  </div>
</section>
<br />
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
