<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<!-- Header-->
<head th:replace="fragments/header :: header"></head>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h4 class="fw-bolder" style="text-align: center">6. 하드코드된 중요정보</h4>
    <p style="text-align: center">제2절 보안기능</p>
    <br />
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Vulnerable</h4>
        <hr />
          <form action="#" method="get">
            <div class="wrapper" style="width: 100%">
              <div class="tabs">
                <div class="tab">
                  <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                  <label for="tab-1" class="tab-label">application.yml</label>
                  <div class="tab-content">
                    <code class="code-area" style="height: 8em"><textarea disabled wrap="off" class="area" style="height: 15em">spring:
  datasource:
    url: jdbc:mysql://localhost:3306/eqst?autoReconnecct=true
    username: root
    password: 1234
    driver-class-name: org.mariadb.jdbc.Driver
              </textarea></code>
                  </div>
                </div>
              </div>
            </div>
            <br />
            <hr />
          </form>
      </div>
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Secure</h4>
        <hr />
          <form action="#" method="get">
            <div class="wrapper" style="width: 100%">
              <div class="tabs">
                <div class="tab">
                  <input type="radio" name="css-tabs" id="tab-2" checked class="tab-switch">
                  <label for="tab-2" class="tab-label">application.yml</label>
                  <div class="tab-content">
                    <code class="code-area" style="height: 8em"><textarea disabled wrap="off" class="area" style="height: 15em">spring:
  datasource:
    url: ENC(6phNp02w8Nu6Y3YA36xQ/iA1usR9kLRw6CXA3W5cxrkxh8MY+dFmUaWbVdcuz/Wl0FoCyM5CFeg3gDYagQ0Q7XgDJuQh2Qvw0AWsoxgzpdZO7BdzIwoJ9YftHi4l87NZ)
    username: ENC(BGA7U5z8uK7eaxCkw4qborLqSZyLC1z52Ww2072LB/JLtyTvFADzrbkqD08NyI7R)
    password: ENC(HUMoUunvEudkWKGBqWo+tpOyp3gcK2ctrKGYt6f/4Hli6lz59AuecFf24wJFHYpi)
    driver-class-name: ENC(Na2WjThM0IOnBA5fCbxOepbQWGG8A8FlSoYTkWXQBRMQTx3zlBqkUUy+zolH2rMerszHaNt4opJuuE6WubSWQw==)
              </textarea></code>
                  </div>
                </div>
              </div>
            </div>
          </form>
        <br />
        <hr />
      </div>
    </div>
  </div>
</section>
<br />
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
