<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <h3 class="fw-bolder" style="text-align: center">3. 해제된 자원 사용</h3>
        <p style="text-align: center">제5절 코드오류</p>
        <br />
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" style="width: 60%; min-height: 400px">
                <hr />
                <h4 class="fw-bolder" style="text-align: center">N/A</h4>
                <br />
                <p style="text-align: center">Java 해제된 자원 사용 보얀악점 해당 없음</p>
            </div>
        </div>
    </div>
</section>
<br />
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
