<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- Head -->
<head th:replace="fragments/head :: head"></head>
<body>
<!-- Navigation-->
<nav th:replace="fragments/nav :: nav"></nav>
<!-- Header-->
<head th:replace="fragments/header :: header"></head>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <h4 class="fw-bolder" style="text-align: center">5. 신뢰할 수 없는 데이터의 역직렬화</h4>
    <p style="text-align: center">제5절 코드오류</p>
    <br />
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Vulnerable</h4>
        <hr />
          <form action="#" method="get">
              <div class="wrapper" style="width: 100%">
                  <div class="tabs">
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
                          <label for="tab-1" class="tab-label">class Dog</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">public static class Dog implements Serializable {
    String name;
    int age;

    public Dog(String name, int age) {
        this.name = name;
        this.age = age;
    }

    public String toString() {
        return name + " " + age;
    }
}</textarea></code>
                          </div>
                      </div>
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
                          <label for="tab-2" class="tab-label">BasicSerialize.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">public class BasicSerialize {

    public static void main(String [] args) {

        try {
            System.out.println("====직렬화====");
            Dog dog = new Dog("비숑 프리제", 5);
            String filename = "./dogdata.ser";
            System.out.println("\nObject is");
            System.out.println("Dog");

            //객체 직렬화
            FileOutputStream fileOutputStream = new FileOutputStream(filename);
            ObjectOutputStream objectOutputStream = new ObjectOutputStream(fileOutputStream);
            System.out.println("\nSerialization Happening here...");
            objectOutputStream.writeObject(dog);
            objectOutputStream.close();
            fileOutputStream.close();
            System.out.println("\nThe object was written to " + filename);

            FileInputStream fileInputStream = new FileInputStream(filename);
            ObjectInputStream objectInputStream = new ObjectInputStream(fileInputStream);

            System.out.println("objectInputStream = " + objectInputStream);
                byte[] bytes = objectInputStream.readAllBytes();
                for (byte b : bytes) {
                    System.out.println("b = " + b);
                }

                System.out.println("\nDeserialization Happening here...");
                Dog Dog = (Dog) objectInputStream.readObject();
                objectInputStream.close();
                fileInputStream.close();
                System.out.println("\nThe object was read from " + filename + ":");
                System.out.println(Dog);
                System.out.println();
            } catch (Exception e) {
            System.out.println(e.getMessage());
            }
    }
}</textarea></code>
                          </div>
                      </div>
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-3" class="tab-switch">
                          <label for="tab-3" class="tab-label">실행 결과</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">====직렬화====
Object is
Dog

Serialization Happening here...

The object was written to ./dogdata.ser

====역직렬화====
objectInputStream = java.io.ObjectInputStream@7ea9e1e2

Deserialization Happening here...

The object was read from ./dogdata.ser:
비숑 프리제 5</textarea></code>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <br />
          <hr />
      </div>
      <div class="col mb-5" style="width: 60%">
        <h4 class="fw-bolder" style="text-align: center">Secure</h4>
        <hr />
          <form action="#" method="get">
              <div class="wrapper" style="width: 100%">
                  <div class="tabs">
                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-4" checked class="tab-switch">
                          <label for="tab-4" class="tab-label">BasicSerialize.java</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">public class BasicSerialize {

    public static void main(String [] args) {

        try {
            System.out.println("====직렬화====");
            Dog dog = new Dog("비숑 프리제", 5);
            String filename = "./dogdata.ser";
            System.out.println("\nObject is");
            System.out.println("Dog");

            //객체 직렬화
            FileOutputStream fileOutputStream = new FileOutputStream(filename);
            ObjectOutputStream objectOutputStream = new ObjectOutputStream(fileOutputStream);
            System.out.println("\nSerialization Happening here...");
            objectOutputStream.writeObject(dog);
            objectOutputStream.close();
            fileOutputStream.close();
            System.out.println("\nThe object was written to " + filename);

            // 파일 해시 값 구하기
            System.out.println("====파일 해시====");
            MyHash hash = new MyHash(filename);
            System.out.println("hash 값 = " + hash.getHashString());
            String serialHash = hash.getHashString().toString();


            System.out.println("====역직렬화====");

            FileInputStream fileInputStream = new FileInputStream(filename);
            ObjectInputStream objectInputStream = new ObjectInputStream(fileInputStream);

            if(serialHash.equals(hash.getHashString())) {
                System.out.println("objectInputStream = " + objectInputStream);
                byte[] bytes = objectInputStream.readAllBytes();
                for (byte b : bytes) {
                    System.out.println("b = " + b);
                }

                System.out.println("\nDeserialization Happening here...");
                Dog Dog = (Dog) objectInputStream.readObject();
                objectInputStream.close();
                fileInputStream.close();
                System.out.println("\nThe object was read from " + filename + ":");
                System.out.println(Dog);
                System.out.println();
            }

        } catch (Exception e) {
            System.out.println(e.getMessage());
        }
    }
}</textarea></code>
                          </div>
                      </div>

                      <div class="tab">
                          <input type="radio" name="css-tabs" id="tab-5" class="tab-switch">
                          <label for="tab-5" class="tab-label">실행 결과</label>
                          <div class="tab-content">
                              <code class="code-area" style="height: 15em"><textarea disabled wrap="off" class="area" style="height: 15em">====직렬화====

Object is
Dog

Serialization Happening here...

The object was written to ./dogdata.ser

====파일 해시====
hash 값 = 01febc8bb4f68210303f7442813e9b214931b361afeaa8b7f092de845fa49b2a

====역직렬화====
objectInputStream = java.io.ObjectInputStream@7ea9e1e2

Deserialization Happening here...

The object was read from ./dogdata.ser:
비숑 프리제 5</textarea></code>
                          </div>
                      </div>
                  </div>
              </div>
          </form>
          <br />
          <hr />
      </div>
    </div>
  </div>
</section>
<br />
<!-- Footer-->
<footer th:replace="fragments/footer :: footer"></footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
